extends layout
append styles
	// Custom styles for this template
	link(href='../css/dashboard.css', rel='stylesheet')
append body  
			.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
				h1.page-header Dashboard
				.row.placeholders
					.col-xs-6.col-sm-3.placeholder
						img.img-responsive(src='../images/dashboard_blue.jpg', alt='Generic placeholder thumbnail')
						h4 Label
						span.text-muted Something else
					.col-xs-6.col-sm-3.placeholder
						img.img-responsive(src='../images/dashboard_green.jpg', alt='Generic placeholder thumbnail')
						h4 Label
						span.text-muted Something else
					.col-xs-6.col-sm-3.placeholder
						img.img-responsive(src='../images/dashboard_blue.jpg', alt='Generic placeholder thumbnail')
						h4 Label
						span.text-muted Something else
					.col-xs-6.col-sm-3.placeholder
						img.img-responsive(src='../images/dashboard_green.jpg', alt='Generic placeholder thumbnail')
						h4 Label
						span.text-muted Something else
