<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/barebones.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon-16.png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"><\/script>')</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>

</head>
<body>

    <script type="text/javascript">
    var round = 1;
        var totalscore=0;
    function clearGame(){
          round = 1;
          totalscore = 0;
          for(i=1; i<11; i++){
            $("#r"+i).html("");
          }
        }
        function activateKill(){
         
        }
      $(document).ready(function(e){
        $("#watl #areas").children().hover(
          function(){
            $(this).children("g circle").css("fill-opacity","0.6");
            $(this).children("g circle").css("fill", "blue");
          },
          function(){
            if($(this).attr('id') == "ks1" || $(this).attr('id') == 'ks2'){
              $(this).children("g circle").css("fill-opacity","1");
              $(this).children("g circle").css("fill", "#0000FF");
            }else if($(this).attr('id') == 'Bullseye'){
              $(this).children("g circle").css("fill-opacity","1");
              $(this).children("g circle").css("fill", "#FF0000");
            }else{
              $(this).children("g circle").css("fill-opacity","0");
              $(this).children("g circle").css("fill", "white");
            }
          }
        )
        $("#watl #areas").children().click(function(e){
          var score = 0;
            switch($(this).attr("id")){
              case "rng1":
                score = 1;
                break;
              case "rng2":
                score = 2;
                break;
              case "rng3":
                score = 3;
                break;
              case "rng4":
                score = 4;
                break;
              case "Bullseye":
                score = 6;
                break;
              case "ks1":
                if(round == 10 || round == 5){
                  score = 8;
                  alert("KILL SHOT!");
                }else{
                  score = 1;
                }
                break;
              case "ks2":
                if(round == 10 || round == 5){
                  score = 8;
                  alert("KILL SHOT!");
                }else{
                  score = 1;
                }
                break;
            }
          $("#r"+round).html(score);
          totalscore += score;
          console.log("Round ", round, " Score: ", score, "TotalScore: ", totalscore, "Debug:", $(this).attr("id"));
          round += 1;
          if(round == 11){
            alert("Game Over! You have " + totalscore + " points.");
            clearGame();
          }
          var posX = $(this).position().left,posY = $(this).position().top;
          console.log("Debug Coordinates:" (e.pageX - posX) + ' , ' + (e.pageY - posY));
        });
      });
    </script>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="grid-container halves">
      <div>
        <?xml version="1.0" encoding="utf-8" ?>
        <!-- Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="watl" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 3456 3456" style="enable-background:new 0 0 3456 3456;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#0000FF;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;z-index: 40;}
          .st1{fill:#FF0000;stroke:#000000;stroke-width:62;stroke-miterlimit:10;z-index: 40;}
          .st2{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
          .st3{fill:black;fill-opacity: 0;stroke:#000000;stroke-width:62;stroke-miterlimit:10;}
          .st4{fill:none;}
          .st5{font-family:'MyriadPro-Regular';}
          .st6{font-size:350px;}
          .selected{fill:goldenrod;}
        </style>
        <g id="playarea">
          <g id="areas">
            <g id="rng1">
                <rect x="413.1" y="1591" class="st4" width="254.9" height="453"/>
                <text transform="matrix(1 0 0 1 413.0959 1839.4971)" class="st5 st6">1</text>
                <circle class="st3" id="rng1" cx="1721" cy="1728" r="1358"/>
                <rect x="2839.7" y="1591" class="st4" width="254.9" height="453"/>
                <text transform="matrix(1 0 0 1 2839.7041 1839.4971)" class="st5 st6">1</text>
            </g>
            <g id="rng2">
              <circle class="st3" id="rng2" cx="1728" cy="1728" r="1070"/>
              <rect x="2584.8" y="1591" class="st4" width="254.9" height="453"/>
              <text transform="matrix(1 0 0 1 2584.8 1839.4971)" class="st5 st6">2</text>
              <rect x="724.3" y="1591" class="st4" width="254.9" height="453"/>
              <text transform="matrix(1 0 0 1 724.2959 1839.4971)" class="st5 st6">2</text>
            </g>
            <g id="rng3">
              <circle class="st3" id="rng3" cx="1728" cy="1728" r="782"/>
              <rect x="1011" y="1591" class="st4" width="254.9" height="453"/>
              <text transform="matrix(1 0 0 1 1011 1839.4971)" class="st5 st6">3</text>
              <rect x="2267" y="1591" class="st4" width="254.9" height="453"/>
              <text transform="matrix(1 0 0 1 2267 1839.4971)" class="st5 st6">3</text>
            </g>
            <g id="rng4">
              <circle class="st3" id="rng4" cx="1721" cy="1728" r="494"/>
              <rect x="1952" y="1591" class="st4" width="254.9" height="453"/>
              <text transform="matrix(1 0 0 1 1952 1839.4971)" class="st5 st6">4</text>
              <rect x="1295" y="1591" class="st4" width="254.9" height="453"/>
              <text transform="matrix(1 0 0 1 1295 1839.4971)" class="st5 st6">4</text>
            </g>
            <g id="ks1">
                <circle class="st0" id="ks1" cx="925.2" cy="825.1" r="54"/>
              </g>
              <g id="ks2">
                <circle class="st0" id="ks2" cx="2530.8" cy="825.1" r="54"/>
              </g>
              <g id="Bullseye">
                <circle class="st1" cx="1728" cy="1728" r="157"/>
              </g>
          </g>
          <g id="Boards">
            <line class="st2" x1="691.2" y1="0" x2="691.2" y2="3456"/>
            <line class="st2" x1="1382.4" y1="0" x2="1382.4" y2="3456"/>
            <line class="st2" x1="2073.6" y1="0" x2="2073.6" y2="3456"/>
            <line class="st2" x1="2764.8" y1="0" x2="2764.8" y2="3456"/>
          </g>
        </g>
        </svg>
        <button onclick="activateKill();">Go For The Kill?</input></button>
      </div>
    <div>
        <table id="scores" class="u-full-width">
            <thead>
              <th>Round</th>
              <th>Score</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td id="r1"></td>
              </tr>
              <tr>
                <td>2</td>
                <td id="r2"></td>
              </tr>
              <tr>
                <td>3</td>
                <td id="r3"></td>
              </tr>
              <tr>
                <td>4</td>
                <td id="r4"></td>
              </tr>
              <tr>
                <td>5</td>
                <td id="r5"></td>
              </tr>
              <tr>
                <td>6</td>
                <td id="r6"></td>
              </tr>
              <tr>
                <td>7</td>
                <td id="r7"></td>
              </tr>
              <tr>
                <td>8</td>
                <td id="r8"></td>
              </tr>
              <tr>
                <td>9</td>
                <td id="r9"></td>
              </tr>
              <tr>
                <td>10</td>
                <td id="r10"></td>
              </tr>
            </tbody>
          </table> 
          <button onclick="clearGame();">Start Over</button>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
